


<%= form_tag("/data_packages", method: "get") do %>
    <%= label_tag(:q, "Filter data packages by name:") %>
    <%= text_field_tag(:name) %>
    <%= submit_tag("Search") %>
  <% end %>
<br>


<h3> Selected data packages: </h3>
<% @data_packages.each do |data_package| %>
    <li> Name: <a href = "data_packages/<%= data_package.id%>"><%= data_package.name%></a> <br>
         Category: <a href = "categories/<%= data_package.category.id%>"><%= data_package.category.name %></a>  
        | Created by: <%= data_package.user.username%>   <br>


          <%= link_to "See its docs", data_package_documents_path(data_package), :class => "load_docs", :remote => true %> </button>
        
        </li>
    <br>
<% end %>





<h4>
<%= link_to "See all data packages here", data_packages_path %><br><br>
<%= link_to "Add a new data package here", new_data_package_path %><br><br>
<%= link_to "Add a new category here", new_category_path %><br><br>
<%= link_to "See all categories here", categories_path %><br><br>
<%= link_to "See all the documents here", documents_path %>
</h4>


<br><br><br> 
<h4> Scopes: </h4>
<h5> Bloomberg data packs: </h5>
<% @data_packages.bloomberg.each do |data_package| %>
    <li> Name: <a href = "data_packages/<%= data_package.id%>"><%= data_package.name%></a> <br>
    Category: <a href = "categories/<%= data_package.category.id%>"><%= data_package.category.name %></a>  
    | Created by: <%= data_package.user.username%><br>
    `<%= link_to "See its docs", data_package_documents_path(data_package) %> </button>
    </li>
    <br>
<% end %>

<h5> Reuters data packs: </h5>
<% @data_packages.reuters.each do |data_package| %>
    <li> Name: <a href = "data_packages/<%= data_package.id%>"> <%= data_package.name%></a> <br>
    Category: <a href = "categories/<%= data_package.category.id%>"> <%= data_package.category.name %></a>  
    | Created by: <%= data_package.user.username%><br>
    <%= link_to "See its docs", data_package_documents_path(data_package) %> </button>
    </li>
    <br>
<% end %>

<h5> CapIQ data packs: </h5>
<% @data_packages.capiq.each do |data_package| %>
    <li> Name: <a href = "data_packages/<%= data_package.id%>"><%= data_package.name%></a> <br>
    Category: <a href = "categories/<%= data_package.category.id%>"><%= data_package.category.name %></a>  
    | Created by: <%= data_package.user.username%><br>
    <%= link_to "See its docs", data_package_documents_path(data_package) %> </button>
    </li>
    <br>
<% end %>
<br>

<br><br>