<h1>DataPackage#new</h1>

<h2> Create a new data package </h2>
<p>Find me in app/views/data_package/new.html.erb</p>


<%= form_for @data_package do |f|%>
    <%= f.label :name, "Name: " %>
    <%= f.text_field :name %>

    <%= f.label :category, "Category: " %>
    <%= f.text_field :category %>

    <%= f.label :favorite, "Favorite: " %>
    <%= f.check_box :favorite %>

    <%= f.submit "Create data package" %> 

<% end %>

<br><br>