
<h2 class="newDataPack" data-id="<%= @data_package.id %>">Make a new data package </h2>


<%= form_for @data_package do |f|%>
    <%= f.label :name, "Name: " %>
    <%= f.text_field :name %>

    <%= f.label :category, "Category: " %>
    <% options = options_from_collection_for_select(@categories, 'id', 'name') %>
    <%= f.select :category_id,  options %>

    <%= f.submit "Create data package", :class => "new_data_pack" %> 

<% end %>

<div id="newDataPackResponse">
    <h1 class="matchId" data-id="<%= @data_package.id %>"><%= @data_package.id %>
    <%= @data_package.name %>
    </h1>

</div>

<br><br>