
<h2> Create a new data package </h2>

<%= form_for @data_package do |f|%>
    <%= f.label :name, "Name: " %>
    <%= f.text_field :name %>

    <%= f.label :category, "Category: " %>
    <%= f.text_field :category %>

    <%= f.submit "Create data package" %> 

<% end %>

<br><br>