
<h2> You've created: </h2>
<h4> Name: <%= @data_package.name %> 
<br> Category: <%= @category.name %> 
<br> Made by: <%= @data_package.user.username %> 

<% @data_package.favorites.each do |fav| %>
    <li> User: <%= fav.user.username%></li>
    <br>
<% end %>
</h4>

<br><br>
<h4>
<%= link_to "Favorite this data package?", new_favorite_path(@favorite)%><br><br>
<%= link_to "Add a document to this data package?", new_data_package_document_path(@data_package)%><br><br>
<%= link_to "See all data packages", data_packages_path(@index) %><br><br>
</h4>

<main role="main" class="dataPackName">

</main>




<br><br>
