
<h4 class = "new_fav" id = "new_fav">
<%= form_for @favorite  do |f|%>
    <%= f.hidden_field :user_id, value: current_user.id %>
    
    <%= f.label :notes, "Notes: " %>
    <%= f.text_field :notes %>
    
    <%= f.label :data_package_id, "Data Package it belongs to?:" %>
    <%= f.collection_select :data_package_id, DataPackage.all, :id, :name %>

    <%= f.submit 'Add favorite' %>
    <% end %>

</h4>