
<h2> Here are all the documents and associated packages: </h2>

<% @documents.each do |document| %>
    <li> Name: <a href = "documents/<%= document.id%>"><%= document.name%></a> <br>
    Raw data: <%= document.raw_data%> <br> Connects to data package: <a href = "data_packages/<%= document.data_package.id%>"> <%= document.data_package.name%> </a> 
    </li><br>
<% end %>