<br>
<h3> Here are the documents for: 
<br>
<% if @data_package %>
    <%= @data_package.name%>
    <% else %>
    <%= "All data packages" %>
<% end %>
</h3>
<br>

<% @documents.each do |document| %>
    <li> Name: <a href = "documents/<%= document.id%>"><%= document.name%></a> <br>
    URL: <%= document.raw_data%> <br>
    </li><br>
<% end %>


