<br>
<h2><i> Documents for: </i></h2>
<h3><% if @data_package %>
    <%= @data_package.name%>
    <% else %>
    <%= "All data packages" %>
<% end %>
</h3>
<br>


<% @documents.each do |document| %>
    <li> Name: <%= document.name%> <br>
    URL: <a href = "<%= document.raw_data%>"><%= document.raw_data%></a> <br>
    </li><br>
<% end %>


