
<h3> Here are the documents for: 

<% if @data_package %>
    <%= @data_package.name%>
    <% else %>
    <%= "Everything" %>
<% end %>
</h3>
<br>

<% @documents.each do |document| %>
    <li> Name: <a href = "documents/<%= document.id%>"><%= document.name%></a> <br>
    Raw data: <%= document.raw_data%> <br>
    </li><br>
<% end %>


