<br>
<h2><i> Documents for: </i></h2>
<h3><% if @data_package %>
    <%= @data_package.name%>
    <% else %>
    <%= "All data packages" %>
<% end %>
</h3>
<br>

<h2> <%= link_to "Add a new document", new_document_path %></h2>
<br>

<% @documents.each do |document| %>
    <li> Name: <a href = "documents/<%= document.id%>"><%= document.name%></a> <br>
    URL: <%= document.raw_data%> <br>
    </li><br>
<% end %>


