<h5>Document#index</h5>
<p>Find me in app/views/documents/index.html.erb</p>

<h3> Add a new document here: </h3>
<%= link_to "Add a document", new_document_path %>

<h2> Here are all of the documents and associated packages: </h2>

<% @documents.each do |document| %>
    <li> Name: <a href = "documents/<%= document.id%>"><%= document.name%></a> <br>
    Raw data: <%= document.raw_data%> <br> Connects to data package: <a href = "data_packages/<%= document.data_package.id%>"> <%= document.data_package.name%> </a> 
    </li><br>
<% end %>