<h1>Document#new</h1>
<p>Find me in app/views/document/new.html.erb</p>


<%= form_for @document do |f|%>
    <%= f.label :name, "Name: " %>
    <%= f.text_field :name %>

    <%= f.label :raw_data, "Raw Data: " %>
    <%= f.text_field :raw_data %>

    <%= f.label :data_package_id, "Data Package it belongs to?:" %>
    <%= f.collection_select :data_package_id, DataPackage.all, :id, :name %>

    <%= f.submit "Create document" %> 

<% end %>