
<h2> Here is your document, connected to <%= @document.data_package.name %> </h2>
<h4> Name: <%= @document.name %> </h4>
<h4> Raw data: <%= @document.raw_data %> </h4>

<h3> See all documents: </h3>
<button type = "button"> 
<%= link_to "See all documents", documents_path(@index) %> </button>

<h3> See all of <%= @document.data_package.name %>'s documents </h3>
<button type = "button"> 
<%= link_to "See all docs for this package", data_package_documents_path(@data_package) %> </button>
