<br>
<h2> <%= @document.data_package.name %>'s document </h2><br>
<h4> Name: <%= @document.name %> <br>
    URL: <a href = "<%= @document.raw_data%>"><%= @document.raw_data%></a> <br>
</h4>

<br>
<button type = "button"> 
<%= link_to "See all documents", documents_path(@index) %> </button>
<br>
<button type = "button"> 
<%= link_to "See all docs for this package", data_package_documents_path(@data_package) %> </button>
