<!DOCTYPE html>
<html>
  <head>
    <title>Datapond</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if current_user %>
    <p>Signed in as <%= "#{current_user.email}" %></p>
    <%= link_to "Signout", signout_path, method: :delete %>
    <%= link_to "Home", data_packages_path %>
 <% else %>
    <%= link_to "Sign Up", signup_path %>
    <%= link_to "Sign In", signin_path %>
    <%= link_to "Log In with Facebook", '/auth/facebook' %>
 <% end %>

    <%= yield %>

  </body>
</html>
