<!DOCTYPE html>
<html>
  <head>
    <title>Datapond</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>
      <%= link_to "Data Packages", data_package_path(index) %>
      <%= link_to "Documents", documents_path(index)  %>
    <% else  %>
      <%= "error- looks like you're not logged in" %>
    <% end %>


    <%= yield %>

  </body>
</html>
