<!DOCTYPE html>
<html>
  <head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Datapond</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <% if flash[:message] %>
    <div> <%= flash[:message] %></div>
  <% end %><br>

  <% if current_user %>
    <p>Signed in as <%= "#{current_user.email}" %></p>
    <%= link_to "Sign out", signout_path, method: :delete %>
    <%= link_to "Home", "/" %><br><br>
    <%= link_to "Favorites", favorites_path %><br>
    <%= link_to "Data packages", data_packages_path, class: "all_data_packages" %>
    <%= link_to "... New data package", new_data_package_path, class: "all_data_packages" %><br>
    <%= link_to "Categories", categories_path %>
    <%= link_to "... New category", new_category_path %><br>
    <%= link_to "Documents", documents_path %>
    
    <% else %>
   <h3> <%= link_to "Sign up", signup_path %><br> </h3>
   <h3> <%= link_to "Sign in", signin_path %><br> </h3>
   <h3> <%= link_to "Sign in with Facebook", '/auth/facebook' %> </h3>


 <% end %>

  <div id = "app-container">
      <%= yield %>
  </div>

  </body>

  <script src="https://code.jquery.com/jquery-3.4.1.js"  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

</html>
