<!DOCTYPE html>
<html>
  <head>

  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '586477458510794',
        cookie     : true,
        xfbml      : true,
        version    : 'v3.2'
      });
      FB.AppEvents.logPageView();     
    };
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));


      FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
      });

          {
            status: 'connected',
            authResponse: {
                accessToken: '...',
                expiresIn:'...',
                signedRequest:'...',
                userID:'...'
            }
        }

      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }

    </script>

    <title>Datapond</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if current_user %>
    <p>Signed in as <%= "#{current_user.email}" %></p>
    <%= link_to "Sign out", signout_path, method: :delete %>
    <%= link_to "Home", data_packages_path %>
    <%= link_to "Favorites", favorites_path %>

    <% else %>
   <h3> <%= link_to "Sign up", signup_path %><br> </h3>
   <h3> <%= link_to "Sign in", signin_path %><br> </h3>
   <h3> <%= link_to "Sign in with Facebook", '/auth/facebook' %> </h3>


 <% end %>

    <%= yield %>

  </body>
</html>
